# Symfony env files
/.env.local
/.env.local.php
/.env.*.local

# Symfony cache, logs, sessions
/var/

# Vendors
/vendor/

# PHPUnit
/.phpunit.result.cache

# Frontend stuff
/node_modules/
/public/build/
/public/bundles/

# --- Docker ---
/db_data/
/node_modules/
/vendor/
/var/

# --- OS / IDE ---
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp