# ------------------------------
# Fichiers dotenv / environnements
# ------------------------------
# Ne pas versionner les fichiers sensibles
app/.env.local
app/.env.prod.local
app/.env.test.local
app/.env.*.local

# ------------------------------
# Dossier vendor et dépendances
# ------------------------------
app/vendor/
# Docker dependencies (si présentes)
docker/

# ------------------------------
# Cache et logs Symfony
# ------------------------------
app/var/
app/var/cache/
app/var/log/
app/var/sessions/

# ------------------------------
# IDE et fichiers systèmes
# ------------------------------
.idea/
*.iml
*.swp
*.DS_Store
*.vscode/

# ------------------------------
# Docker Compose override / config
# ------------------------------
docker-compose.override.yml
