{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <h1>Réinitialisation du mot de passe</h1>

    {{ form_start(resetPassForm) }}
        {{ form_row(resetPassForm.password) }}
      
        <button type="submit"class="btn btn-primary"><i class="fa-solid fa-paper-plane"></i>Envoyer</button>
    {{ form_end(resetPassForm) }}
{% endblock %}