{% extends 'base.html.twig' %}

{% block title %}Demande de réinitialisation de mot de passe{% endblock %}

{% block body %}
    <section>
        <h1>Demande de réinitialisation de mot de passe</h1>
        {{ form_start(requestPassForm) }}
            {{ form_row(requestPassForm.email) }}
            <button class="btn btn-primary" type="submit"><i class="fa-solid fa-paper-plane"></i>Envoyer</button>
        {{ form_end(requestPassForm) }}
    </section>
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/form.css') }}">
{% endblock %}