{% extends 'base.html.twig' %}

{% block title %}Page d'accueil Réservations JO 2024
{% endblock %}

{% block body %}
	<h1 class="text-center">Bienvenue sur le site de Réservations de tickets des Jeux Olympiques Paris 2024</h1>
{% endblock %}

