{% extends 'base.html.twig' %}

{% block title %}Documentation
{% endblock %}

{% block body %}
	<div class="markdown-container">
		<article class="markdown-body">
			{{ content | raw }}
		</article>
	</div>
{% endblock %}
