{% extends 'base.html.twig' %}

{% block title %}Administration
{% endblock %}

{% block body %}
	<h1 class="text-center">Administration</h1>
	<p class="text-center">Bienvenue dans la zone d'administration.</p>
{% endblock %}
