{% extends 'base.html.twig' %}

{% block title %}Administration
{% endblock %}

{% block body %}
	<h1 class="text-center">Administration</h1>
	<p class="text-center">Bienvenue dans la zone d'administration.</p>
	<div class="charts-grid">
		<div class="chart-card">
			<h3>Top 10 ventes par offre</h3>
			<canvas id="bestSalesChart"></canvas>
		</div>

		<div class="chart-card">
			<h3>Répartition par catégorie</h3>
			<canvas id="salesCategoryChart"></canvas>
		</div>
	</div>

{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset("assets/css/charts.css")}}">
{% endblock %}
{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script type="module" src="{{asset('assets/js/charts/top10-offres.js')}}"></script>
	<script type="module" src="{{asset('assets/js/charts/offres-par-categories.js')}}"></script>
{% endblock %}
