{# src/templates/_partials/_password-checklist.html.twig #}
{% set pwId = form.vars.id %}

<div class="password-strength">
    {# Le champ input est déjà rendu par Symfony #}
    <ul id="{{ pwId }}-checklist" class="list-none p-0 mt-2 text-sm">
        <li data-check="length">❌ Minimum 10 caractères</li>
        <li data-check="upper">❌ Au moins une majuscule</li>
        <li data-check="digit">❌ Au moins un chiffre</li>
        <li data-check="special">❌ Au moins un caractère spécial</li>
    </ul>

    <div class="pw-progress bg-gray-200 h-2 rounded mt-3">
        <div id="{{ pwId }}-bar" class="h-2 bg-red-500 rounded" style="width:0%"></div>
    </div>
</div>

{# Inclut le JS séparé #}
<script type="module">
    import initPasswordChecklist from "{{ asset('assets/js/password-check.js') }}";
    initPasswordChecklist('{{ pwId }}');
</script>
